#header ul li:before {
	content: "";
}
#header ul li {
	display: inline-block;
	padding: 0 10px;
	line-height: 1.5em;
}
#header ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#header {
	background-color: #17ACAF;
	color: #fff!important;
}
	#header a {
		color: #FFF!important;
		display: block!important;
		padding: 10px;
		transition: background-color .3s ease-in-out;
	}
	#header a:hover {
		text-decoration: none;
		background-color: #FFF;
		color: #17ACAF!important;
	}

li a:hover {
	text-decoration: none;
}

#footer {
	padding: 25px 0;
}

.content-panel {
	padding: 50px 0;
}