#header ul li:before {
	content: "";
}
#header ul li {
	display: inline-block;
	padding: 10px;
	line-height: 1.5em;
}
#header ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#header {
	background-color: #17ACAF;
	color: #fff!important;
}
	#header a {
		color: #FFF!important;
		display: block;
	}
	#header a:hover {
		text-decoration: none;
		background-color: #FFF;
		color: #17ACAF;
	}

#mainContent {
	padding: 50px 0;
}